/*  Dark Tech theme

    mauve: #9b5bab
    light pink: #cbabca
    dblue: #0000ff
    purple: #742aba
    dark grey: #223
    medium grey: #666
    
 */


@font-face {
    font-family: dt_body;
    src: url(fonts/sans/PontanoSans-Regular.ttf);
}
@font-face {
    font-family: dt_body-italic;
    src: url(fonts/sans/Cantarell-Oblique.ttf);
}
@font-face {
    font-family: dt_body-bold;
    src: url(fonts/sans/Cantarell-Bold.ttf);   
}
@font-face {
    font-family: dt_links;
    src: url(fonts/sans/Overpass_Bold.ttf);
}
@font-face {
    font-family: dt_headings;
    src: url(fonts/serif/JosefinSlab-Bold.ttf);
}
body { 
    background: #000;
    font-family: dt_body, Arial, "Liberation sans", sans-serif;
}
.biggest_wrapper { 
    
}
.top {   }
/* start of links part */
nav.main { 
    text-align: center;
    background: #000;
    margin-top: 5px;
}
nav a {
    color: #FFF;
    line-height: 1.6;
    padding: 0 14px 0 14px;
    font-family: dt_links, Arial, "Liberation sans", sans-serif;
    font-size: 140%;
    text-decoration: none;
    text-shadow: 1px 1px 1px #00f, 2px 2px 3px #00f;
}
nav a:visited {
    text-decoration: none; color: #742aba; outline: none;
}
nav a:hover, nav a:active { 
    text-decoration: none;
    color: #fff;
    text-shadow: 1px 1px 1px #f00, 2px 2px 3px #f00;
}


/* end of general navigation links bit */
header { 
    background: #333;
    border: 1px solid #742aba;
    border-radius: 16px;
    box-shadow: -1px -1px 2px #fff, 1px 1px 3px #fff, 2px 2px 3px #fff;
}
.top header h1 { 
    text-align: center;
    color: #fff; 
    font-family: dt_headings, Helvetica, Arial, sans-serif; 
    font-size: 400%; 
    border-bottom: 0;
    line-height: 0.4;
    margin-left: 0;
    text-shadow: -1px -1px 1px #999, 0px 0px 2px #ccc, 1px 1px 5px #fff;
}
.top header h2 { 
    text-align: center;
    font-family: dt_headings, "Times New Roman", serif; 
    color: #fff; 
    margin-left: 0;
    font-size: 200%; 
    font-style: italic;
    
}
/* different column sizes, the smaller ones are often nav. */
.biggest_wrapper, .col-lg-12, .col-xs-3, .col-sm-3, .col-lg-6, .col-lg-9 {  
    color: #fff;
    background: #222;
    border: 1px solid white; border-radius: 15px;
    box-shadow: 0px 0px 4px #fff, 1px 1px 3px #fff, -1px -1px 4px #fff;
}
aside { 
    background: #000;
    color: #dedede;
    margin: 5px; 
    box-shadow: -1px 2px 4px #999, 2px -1px 4px #999, 0px 0px 30px #fff;
}
div h1, h2, h3, h4, h5, h6 { 
    color: #f00;
    font-family: dt_headings, "Times New Roman", serif; 
}
div h1 {  color: #00f; }
div h2 { }
div h3 { }
div h4 { }
div h5 { }
div h6 { }
div p { padding: 5px; text-align: justify;  }
div p a { color: blue; }
div p a:hover { color: red;  }
div ul, ol { padding: 5px; list-style: inside; }
div ol { list-style-type: decimal; }

.bottom { background: 0; }
.bottom nav { 
    background: #000;
    text-align: center;
    margin-bottom: 5px;
}
.bottom footer {  color: #fff; }
